/* header */
.page__body {
   font-family: "Roboto-Condensed", sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;
   font-style: normal;
   font-size: var(--font-size-xs);
   color: var(--color-dark);
   background-color: var(--bg-frame);
   margin: 0;
}

.header {
   padding: 25px 0 18px;
   position: absolute;
   left: 0;
   right: 0;
   background-image: linear-gradient(180deg, d8d4ca 0%, rgba(217, 217, 217, 0)100%);
}

.header__container {
   display: flex;
   justify-content: space-between;
}

.header__list {
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: space-between;
   padding-top: 25px;
   gap: 0 40px;

}

.header__list--left {
   margin-left: 25px;
}

.header__list-right {
   margin-right: 80px;
}

.header__item {
   vertical-align: middle;
}

.header__item:last-child {
   margin-right: 0;
}

.header__link {
   display: block;
   text-decoration: none;
   color: var(--color-text);
   min-height: 18px;
   font-size: var(--font-size-m);
}

.header__link:not([href]),
.header__logo:not([href]) {
   cursor: default;
   opacity: 0.6;
}

.header__link[href]:hover {
   color: var(--color-gold);
   transition: all 0.3s ease-out;
}

.header__logo[href]:hover {
   opacity: 0.7;
  
}

.header__link[href]:focus-visible,
.header__logo[href]:focus-visible {
   outline: 1px solid var(--color-gold);
}


.header__link[href]:active,
.header__logo[href]:active {
   opacity: 0.6;
}


/* promo */

.promo {
   background-image: url("/images/bg/bg-lamba.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

.promo__inner {
   max-width: 905px;
   margin: 0 auto;
   min-height: 100vh;
   padding: 98px 5px 0;
}

.promo__title {
   width: 100%;
   font-family: "Impact", sans-serif;
   font-weight: 400;
   font-size: var(--font-size-max);
   letter-spacing: 0.2px;
   margin: 0;
   text-align: center;
   text-transform: uppercase;
   min-height: 80px;
   margin-bottom: 10px;
}

.promo__box {
   max-width: 386px;
   margin: 0 auto;
}

.promo__subtitle {
   font-family: "Impact", sans-serif;
   font-weight: 400;
   font-size: var(--font-size-x);
   margin: 0;
   margin-bottom: 10px;
   min-height: 59px;
   text-align: center;
}

.promo__text {
   font-family: "Impact", sans-serif;
   font-weight: 400;
   font-size: var(--font-size-xm);
   color: var(--color-gold);
   min-height: 34px;
   margin: 0;
   text-align: center;

}

.promo__span {
   font-family: "Roboto Condensed", sans-serif;
   color: var(--color-text);
   font-size: var(--font-size-m);
   display: block;
   padding-top: 10px;
   min-height: 18px;
   border-top: 1px solid var(--color-dark);
}

.promo__array-link {
   display: flex;
   justify-content: center;

}

.promo__array-link::before {
   content: "";
   width: 30px;
   height: 30px;
   mask-image: url("/images/bg/array.svg");
   mask-position: center;
   background-color: var(--color-dark);
   mask-size: 30px 30px;
   display: block;
}

.promo__array-link:hover::before {
   background-color: var(--color-gold);
   transition: all 0.3s ease-out;
}

.promo__array-link:focus-visible::before {
   outline: 1px solid var(--color-gold);
}

.promo__array-link:active::before {
   opacity: 0.7;
}